.location {
  .oprate_btn {
    height: 80px;
    width: 400px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    font-size: 30px;
    background-color: #0faeff;
    border: none;
  }
  .btn_hover {
    border: none;
  }
  &_content {
    padding: 0 20px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    &_name {
      width: 300px;
      text-align: right;
      margin-right: 20px;
    }
    &_detail {
      flex: 1;
    }

  }
}