.location {
  .oprate_btn {
    height: 80px;
    width: 400px;
    margin: 20px auto 0;
    text-align: center;
    border-radius: 5px;
    color: #ffffff;
    font-size: 30px;
    background-color: #0faeff;
    border: none;
  }
  .btn_hover {
    border: none;
  }
}