
.interface, .taro_router {
  background-color: #f8f8f8;
}
.interface_menu {
  margin-top: 20px;
  padding: 0 40px;
  .menu {
    margin-bottom: 20px;
    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 20px;
      &_name {
        font-size: 40px;
      }
      &_icon {
        width: 30px;
        height: 30px;
        border-right: 2px solid #676767;
        border-bottom: 2px solid #676767;
        transform: rotate(-45deg);
        display: block;
        transition: all 0.3s;
      } 
    }
    &_item {
      margin: 20px 40px 0;
    }
  }
  .animation {
    width: 200px; 
    height: 60px; 
    background: red; 
    color: #fff; 
    margin: 0 auto;
  }
  .active {

    .menu_title {
      color: green;
      &_icon {
        transform: rotate(45deg);
        border-color: green;
      }
    }
  }
}