page {
  background-color: #f8f8f8;
}

body {
  background-color: #f8f8f8;
}

.interface,
.taro_router {
  background-color: #f8f8f8;
  padding-bottom: 100px;
}

.interface_menu {
  margin-top: 20px;
  padding: 0 40px;
  .menu {
    margin-bottom: 20px;
    &_title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #fff;
      padding: 20px;
      font-size: 28px;
      &_name {
        font-size: 28px;
      }
      &_icon {
        width: 30px;
        height: 30px;
        border-right: 2px solid #676767;
        border-bottom: 2px solid #676767;
        transform: rotate(-45deg);
        display: block;
        transition: all 0.3s;
        font-size: 28px;
      }
    }
    &_item {
      margin: 20px 40px 0;
    }
  }
  .animation_oprate {
    display: flex;
    margin-top: 10px;
    flex-wrap: wrap;
    &_btn {
      margin-right: 10px;
    }
  }
  .animation {
    height: 400px;
    display:flex;
    align-items:center;
    &_content {
      width: 200px;
      height: 60px;
      background: red;
      color: #fff;
      margin: 0 auto;
      text-align: center;
      line-height: 60px;
    }
  }
}

.active {
  .menu_title {
    color: green;
    &_icon {
      transform: rotate(45deg);
      border-color: green;
    }
  }
}

.interface {
  background-color: #f8f8f8;
  &_top {
    padding: 30px 40px;
    font-size: 28px;
    color: #888888;
    text-align: center;
  }
  &_main {
    padding: 0 20px;
    margin-top: 40px;
    &_btn {
      margin-top: 20px;
    }
  }
}
.go_menu_btn {
  position: fixed;
  left: 0;
  bottom: 50px;
  width: 2em;
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  font-size: 24px;
  color: #fff;
  background-color: rgba(0,0,0,0.7);
  &.h5 {
    bottom: 150px;
  }
}
