page {
  background-color: #f8f8f8;
}

body {
  background-color: #f8f8f8;
}

.index {
  background-color: #f8f8f8;
  &_top {
    padding: 30px 40px;
    font-size: 28px;
    color: #888888;
    text-align: center;
  }
  &_main {
    &_sub {
      margin: 0 40px;
      padding: 20px 40px;
      background-color: #fff;
      font-size: 32px;
      border-radius: 5px;
      margin-bottom: 10px;
    }
    &_wp {
      margin: 0 40px;
      padding: 0px 40px 30px;
      background-color: #fff;
      border-radius: 10px;
    }
    &_text {
      margin-bottom: 20px;
      font-size: 32px;
    }
    &_item {
      margin-top: 30px;
      &_btn {
        font-size: 28px;
        height: 80px;
        line-height: 80px;
      }
    }
  }
}
