page {
  background-color: #f8f8f8;
}

body {
  background-color: #f8f8f8;
}

.index {
  background-color: #f8f8f8;
  &_top {
    padding: 30px 40px;
    font-size: 28px;
    color: #888888;
    text-align: center;
  }
  &_main {
    padding: 0 20px;
    margin-top: 40px;
    &_btn {
      margin-top: 20px;
    }
  }
}

.request {
  &_text {
    margin-top: 20px;
    font-size: 32px;
  }
  &_wp {
    display: flex;
    flex-wrap: wrap;
  }
  &_item {
    margin-top: 30px;
    width: 50%;
    display: flex;
    font-size: 28px;
    flex-direction: column;
    justify-content: space-between;
    image {
      width: 40px;
      height: 40px;
    }
  }
}


.oprate_btn {
  height: 80px;
  width: 400px;
  margin: 20px auto 0;
  text-align: center;
  border-radius: 5px;
  color: #ffffff;
  font-size: 30px;
  background-color: #0faeff;
  border: none;
}
.btn_hover {
  border: none;
}